@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=M+PLUS+Rounded+1c:wght@700&display=swap');

// @font-face {
//   font-family: 'DMSans';
//   src: url("../fonts/DMSans-Regular.ttf");
//   src: local("â˜º"), url("../fonts/radomir-tinkov-gilroy-light.woff") format("woff"), url("../fonts/radomir-tinkov-gilroy-light_2.svg") format("svg");
//   font-weight: 300;
//   font-style: normal; }

@keyframes diagonalyse {
    0%   { clip-path: polygon(0%   0%, 100% 0%, 100%              100%, 0             100%); }
    100% { clip-path: polygon(0% 25px, 100% 0%, 100% calc(100% - 50px), 0 calc(100% - 25px)); }
}

html {

    font-size: 18px;
    background: $background;
    
    @media screen and (max-width: 1366px) {
        font-size: 13px;
    }

    

    // @media screen and (max-width: 800px) {
    //     font-size: 18px;
    // }
}

body {
    color: $black;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;

    .content > h2, .wp-block-group__inner-container > h2 {
        text-align: center;
        font-size: $font-l;
    }
}

main {
    padding: 0;
    width: $body-width;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        width: 92%;

    }
}

h1, h2, h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-transform: uppercase;
    color: $pink;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black;
    color: $white;
    margin: 0;
    // padding: 2rem calc((100% - 1440px) / 2);
    padding: 2rem 10%;

    .social {
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 10px;
            border-radius: 30px;
            font-size: 0;
            transition: transform 0.25s;

            &:nth-child(1) {
                background: url(../img/icon-linkedin.svg)  no-repeat 55% 45% / 50% rgba($color: $white, $alpha: 0.1);
            }

            &:nth-child(2) {
                background: url(../img/icon-twitter.svg)  no-repeat center center / 50% rgba($color: $white, $alpha: 0.1);
            }

            &:hover {
                filter: drop-shadow(0 0 3px rgba($color: $white, $alpha: 0.5) );
                transform: scale(1.2);
            }
        }
    }

    @media screen and (max-width: 800px) {
        display: block;
        text-align: center;
    }
}
