@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=M+PLUS+Rounded+1c:wght@700&display=swap');

// @font-face {
//   font-family: 'DMSans';
//   src: url("../fonts/DMSans-Regular.ttf");
//   src: local("â˜º"), url("../fonts/radomir-tinkov-gilroy-light.woff") format("woff"), url("../fonts/radomir-tinkov-gilroy-light_2.svg") format("svg");
//   font-weight: 300;
//   font-style: normal; }

@keyframes diagonalyse {
    0%   { clip-path: polygon(0%   0%, 100% 0%, 100%              100%, 0             100%); }
    // 100% { clip-path: polygon(0% 5%, 100% 0%, 100%  90%, 0% 95%); }
    100% { clip-path: polygon(0% 25px, 100% 0%, 100% calc(100% - 50px), 0 calc(100% - 25px)); }
}

@keyframes turn-off {
    0%      { transform: rotateY(0deg); }
    49.99%  { transform: rotateY(90deg); }
    50.01%  { height: 0; font-size: 0; }
    // 99.99%  { width:   0%; height: 100%; }
    100%    { height: 0; font-size: 0; }
}
@keyframes turn-on {
    0%      { transform: rotateY(90deg); }
    50%     { transform: rotateY(90deg); }
    50.01%  { transform: rotateY(90deg); }
    100%    { transform:  rotateY(0deg); }
}


body {
    // background: url(../img/bg_home.png) no-repeat center -25vh fixed;
    color: $black;
    font-family: 'DM Sans', sans-serif;
    margin: 0;

    .content > h2, .wp-block-group__inner-container > h2 {
        text-align: center;
        font-size: $font-l;
    }
    
}

main {
    // padding: 75vh 0 0 0;
    padding: 0;
    width: $body-width;
    margin: 0 auto;
    // background: rgba($color: $white, $alpha: 0.5);
}

h1, h2, h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-transform: uppercase;
    color: $pink;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// h2 {
//     text-align: center;
//     font-size: $font-xl;
    
// }

.wp-block-group:not(.introduction, .video) {
    // border: 5px solid orangered;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    animation: diagonalyse 1s 5s 1 forwards;
    // width: 80%;
    margin: 0 auto -75px;


    .wp-block-columns {
        display: grid;
    }

}


body.home h1 {
    height: 5vh;
    margin: 0;
    padding: 0 0 0 10%;
    color: $white;
    // border: 1px dashed red;
}

/*
    ================
    video
    ================
*/
body.home .video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    animation: diagonalyse 1s 5s 1 forwards;
}

/*
    ============
    Introduction
    ============
*/
body.home .introduction {
    min-height: 75vh;
    margin: 0;
    padding: 0;
    // background: gray;

    h2, p {
        width: 40%;
        padding: 0 0 0 10%;
    }

    h2 {
        text-align: left;
        font-size: $font-m;
        // border-bottom: 5px solid $white;
        margin-top: 0;
        color: $white;
    }

    hr {
        height: 5px;
        clip-path: polygon(10% 0%, 20% 0%, 20% 100%, 10% 100%);
    }

    p {
        font-size: $font-m;
        font-weight: bold;
        color: $white;
    }

    a {
        @include yellow-button;
        margin: 2rem 0;
    }
}




/*
    ================
    Insurance blocks
    ================
*/
body.home .insurance .wp-block-group__inner-container .wp-block-columns {
    // display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 0;

    .wp-block-column {
        padding: 140px 0 0 0;
        overflow-y: visible;
        text-align: center;

        h2 {
            font-size: $font-l;
        }
    }

    .wp-block-column:nth-child(1) {
        background: url(../img/ensure-01-diplome-pink.svg)  no-repeat center top / 120px;
    }

    .wp-block-column:nth-child(2) {
        background: url(../img/ensure-02-experience-pro-pink.svg)  no-repeat center top / 120px;
    }

    .wp-block-column:nth-child(3) {
        background: url(../img/ensure-03-specialites-pink.svg)  no-repeat center top / 120px;
    }

    .wp-block-column:nth-child(4) {
        background: url(../img/ensure-04-satisfaction-pink.svg)  no-repeat center top / 120px;
    }
}


/*
    ===============
    Surgeries
    ===============
*/
body.home .surgeries .wp-block-group__inner-container {

    background: $gray-light;

    

    .wp-block-columns {
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem 10% 6rem;
        
        .wp-block-column {

            width: 15vmax;
            height: 15vmax;
            // display: grid;
            // place-items: center;
            // filter: sepia(100%) saturate(150%) hue-rotate(180deg) brightness(0.4);
            overflow-y: hidden;
            transition: transform 1s, background 0.5s;
            cursor: pointer;
            // border: 1px dashed gray;

            h2 {
                // margin: 0 0 1rem;
                // padding: 4rem 0 0;
                margin: 0;
                padding: 0;
                text-align: center;
                color: $white;
                filter: invert(100%);
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                transition: transform 1s, height 0.5s, border-radius 0.25s;
                // transition-delay: 0.25s;
                position: relative;
                filter: sepia(100%) saturate(150%) hue-rotate(180deg) ;
            }

            p {
                // display: none;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                // transform: rotateY(180deg);
                width: 80%;
                height: 80%;
                // width:   0%; height:   0%;
                margin: 0;
                padding: 10%;
                text-align: center;
                color: $white;
                font-weight: bold;
                transition: transform 1s, border-radius 0.25s;
                transform: rotateY(-90deg);
                position: relative;
                border-radius: 100vmax;

                a {
                    @include yellow-button($font-size: $font-s);
                }
            }

            &:nth-child(1) {
                h2 {
                    background: url(../img/chir_01.jpg)  no-repeat 55% 45% / cover;
                }
            }

            &:nth-child(2) {
                h2 {
                    background: url(../img/chir_02.jpg)  no-repeat 55% 45% / cover;
                }
            }

            &:nth-child(3) {
                h2 {
                    background: url(../img/chir_03.jpg)  no-repeat 55% 45% / cover;
                }
            }

            &:nth-child(4) {
                h2 {
                    background: url(../img/chir_04.jpg)  no-repeat 55% 45% / cover;
                }
            }

            &:hover {
                // animation: name duration timing-function delay iteration-count direction fill-mode;
                // animation: turn 1s 0.5s 1 forwards;
                // transform: rotateY(180deg);

                h2 {
                    // font-size: 0;
                    // height: 0%;
                    // transform: translateY(-100%) rotateY(90deg);
                    // animation: turn-off 1s 1 forwards;
                    transform: rotateY(90deg);
                    height: 0;
                    font-size: 0;
                    border-radius: 100vmax;
                }

                p {
                    // transform: rotateY(0deg);
                    // animation: turn-on 1s 1 forwards;
                    transform:  rotateY(0deg);
                    border-radius: 0;
                    background: $pink;
                }
            }

            
        }
        
        
    }


}

/*
    ===============
    We can help you
    ===============
*/
body.home .help .wp-block-group__inner-container .wp-block-columns {

    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    // width: 80%;
    padding: 3rem 0%;
    // background: $pink;
    background: linear-gradient(to right, $pink, $pink 50%, $purple 50%, $purple 100%);

    .wp-block-column {

        & > p {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            color: $white;
            font-size: $font-l;
            text-transform: uppercase;

            a {
                @include yellow-button;
                margin: 1rem 0 0;
            }

            &.purple a {
                @include yellow-button($font-m, $pink);
            }
        }
    }

    // a {
    //     @include yellow-button;
    //     // display: inline-block;
    //     margin: 1rem 0 0;

    //     &.pink {
    //         @include yellow-button($pink);
    //     }
    // }
    
}


/*
    ============
    Testimonials
    ============
*/
body.home .testimonials .wp-block-group__inner-container {

    h2 {
        margin: 0 0 1rem;
        padding: 4rem 0 0;
    }

    .wp-block-columns {
        overflow:hidden;
        height: 20vh;

        .wp-block-column {
            &:not(:first-child) {
                margin: 0;
            }
            // display: inline-block;
            float: right;

            p {
                display: grid;
                place-items: center;
                width: 80%;
                height: 100%;
                padding: 0 10%;
            }
            
            width: 100%;
            height: 100%;
        }
        
        // grid-template-columns: repeat(5, 1fr);
        display: block;
    }
    
    
    // ul {
    //     // list-style-type: none;
    //     // display: grid;
    //     // grid-template-columns: repeat(1, 1fr);
    //     // place-items: center;
    //     overflow: hidden;
    //     border: 1px dashed blueviolet;
    //     height: 300px;
    //     // display: flex;

    //     li {
    //         // display: inline-block;
    //         // vertical-align: middle;
    //         // display: grid;
    //         // place-items: center;
    //         width: 100%;
    //         height: 100%;
    //         float: right;
    //     }
    // }
}


/*
    =========
    News bloc
    =========
*/
body.home .news {

    background: $gray-light;

    h2 {
        margin: 0 0 1rem;
        padding: 4rem 0 0;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8vmax;
        list-style-type: none;
        padding: 1rem 8vmax 12vh;


        li {
            margin: 0;
            // padding: 5vw;
            // border: 1px dashed pink;

            // &:first-child {
            //     padding: 5vw 5vw 5vw 10vw;
            // }
            // &:last-child {
            //     padding: 5vw 10vw 5vw 5vw;
            // }

            transition: transform 0.5s, background 0.25s;
            padding: 1vmax;

            &:hover {
                background: $pink;
                // outline: 10px solid $pink;
                transform: scale(1.1);

                * {
                    color: $white;
                    text-decoration: none;
                }
            }
            img {
                width: 100%;
                // margin: 0 5%;
            }
        }


    }
}

/*
    ============
    Contact bloc
    ============
*/
body.home .contact {

    background: $pink;
    padding: 3rem 0 5rem;
    z-index: 100;
    position: relative;


    h2 {
        color: $white;
    }

    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        

        li {

            color: $white;

            &:last-child a {
                @include yellow-button;
            }
        }
    }
}


/*
    ==========
    Google Map
    ==========
*/
body.home .map {

    animation: none;
    margin: 0 auto;

    iframe {
        width: 100%;
        z-index: -100;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black;
    color: $white;
    margin: 0;
    // padding: 2rem;
    padding: 2rem calc((100% - 1440px) / 2);

    .social {
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 10px;
            border-radius: 30px;
            // background: 
            font-size: 0;
            transition: transform 0.25s;

            &:nth-child(1) {
                // border: 1px solid red;
                background: url(../img/icon-linkedin.svg)  no-repeat 55% 45% / 50% rgba($color: $white, $alpha: 0.1);
            }

            &:nth-child(2) {
                // border: 1px solid green;
                background: url(../img/icon-twitter.svg)  no-repeat center center / 50% rgba($color: $white, $alpha: 0.1);
            }

            &:hover {
                filter: drop-shadow(0 0 3px rgba($color: $white, $alpha: 0.5) );

                transform: scale(1.2);
                // border: 1px solid red;
            }
        }


    }
}