@mixin yellow-button($font-size: $font-m, $hover-color: $purple) {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: $yellow;
    text-decoration: none;
    // transition: background 0.25s;
    transition: all 0.25s;
    font-size: $font-size;
    color: $black;
    border-radius: 2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-transform: uppercase;
    transition: transform 0.25s;

    &:hover {
        background: $hover-color;
        color: $white;
        transform: scale(1.1);
    }
}
