@keyframes diagonalyse-menu {
    0%   { clip-path: polygon(0%   0%, 100% 0%, 100%              100%, 0             100%) ; }
    100% { clip-path: polygon(0%   0%, 100% 0%, 100% calc(100% - 50px), 0 calc(100% - 25px)); }
}

header {

    // background: linear-gradient(to right, $pink, $purple );
    // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    // animation: diagonalyse-menu 1s 0s 1 forwards;
    
    max-width: $body-width;
    margin: 0 auto;
    padding: 0 10% 20px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;

    .header-bg {
        background: linear-gradient(to right, $pink, $purple );
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
        animation: diagonalyse-menu 1s 0s 1 forwards;
        position: absolute;
        left: 0;
        width: 100%; 
        height: 20vh;
        z-index: -999;
    }

    .logo {

        transition: filter 1.5s, transform 0.5s;
        
        &:hover {
            filter: drop-shadow(0 0 10px rgba($color: $white, $alpha: 0.25) );
            transform: scale(1.05) rotateZ(-1deg);
        }

        a {
            display: inline-block;
            padding: 4rem;
            width: 15vw;
            height: auto;
            background: url(../img/logo.svg) no-repeat center left / 75%;
        }
    }

    nav#menu {
        ul {
            list-style-type: none;
            display: flex;

            li {
                margin: 0 15px;
                display: grid;
                place-items: center;

                a {
                    font-family: 'M PLUS Rounded 1c', sans-serif;
                    text-transform: uppercase;
                    font-size: $font-m;
                    color: $white;

                }

                &:hover {
                    .sub-menu {
                        transform: translateY(100px);
                        opacity: 1;
                    }
                }

                &.lang-item {
                    
                    width: 40px;
                    height: 40px;
                    margin: 10px;
                    border-radius: 30px;
                    background: $pink;
                    transition: transform 0.25s;

                    &:hover {
                        background: $white;
                        filter: drop-shadow(0 0 3px rgba($color: $white, $alpha: 0.5) );
                        transform: scale(1.2);
                    }

                    &-fr {
                        margin-left: 50px;
                    }

                    a {
                        img {
                            width: 20px !important;
                            height: auto !important;
                        }
                    }
                }

                .sub-menu {
                    display: block;
                    background: url("data:image/svg+xml;utf8,<svg width='93.222' height='80.732' version='1.1' viewBox='0 0 93.222 80.732' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-3.9879e-7 -216.27)'><path d='m93.222 297h-93.222l46.611-80.732z' fill='%237028ce' stroke-width='0' style='paint-order:markers stroke fill'/></g></svg>") no-repeat top left / 25px 22px, linear-gradient(to bottom, transparent, transparent 21px, $purple 21px, $purple 100%);
                    margin: 0;
                    padding: 22px 0 0 0;
                    position: absolute;
                    transform: translateX(100vmax);
                    opacity: 0;
                    transition: transform 0.25s, opacity 0.5s;

                    li {
                        margin: 0;
                        padding: 0.5rem 1rem;

                        a {
                            font-size: $font-s;
                        }

                        &:hover {
                            background: hsl(266, 67%, 38%);
                            // color: red;
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
