$pink: hsl(349, 74%, 55%);
$purple: hsl(266, 67%, 48%);
$purple-light: hsl(249, 53%, 65%);
$yellow: hsl(55, 94%, 54%);

$black: hsl(0, 0%, 20%);
$gray0: #33333366;
$gray: hsl(0, 0%, 20%);
$gray-light: hsl(248, 80%, 98%);
$white: hsl(255, 100%, 100%);

$font-xl: 2.8rem;
$font-l: 2.2rem;
$font-m: 1.2rem;
